/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*My css classes*/

#new-folder-alerts, #upload-file-alerts {
    width: 80vw;
    position: fixed;
    left: 50%;
    margin-left: -40vw;
    top: 1rem;
    z-index: 1000;
}

.modal-content {
margin-top: 5rem;
}
.path-bar {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ced4da;
}

.tool-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.path-bar-folder {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #fff3cd;
    border-color: #856404;
    margin: 0.2rem 0rem;
}

    .path-bar-folder a {
        color: black;
        text-decoration: none;
        margin: 0.2rem 1rem;
    }

.path-bar-icon {
    margin: 0.2rem 0.3rem;
}

.action-buttons {
display:flex;
}

.search-box {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    margin: 0.2rem 0rem;
    display: flex;
}

    .search-box input[type=text] {
        flex-grow: 2;
        border: none;
        width: 100%;
        margin: 0.5rem;
    }

        .search-box input[type=text]:focus {
            outline: none;
        }

    .search-box button {
        border: none;
        background: transparent;
        margin: 0.5rem;
    }

        .search-box button:focus {
            outline: none;
            transform: scale(0.9);
        }

.progress {
    margin-bottom: 0;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    margin: 0.2rem 0rem;
}

.start {
    float: left;
}

.end {
    float: right;
    text-align: right;
}


#explorer {
    margin-top:1rem;
}
.fso {
    border-top: 1px solid #ced4da;
    dis
}

.fso-selected {
    background-color: rgba(0, 123, 255, 0.25);
}

.fso-info-1 {
display:flex;
}
.fso-name {
flex-grow:1;
}
.fso-info-2 {
font-size: .7rem;
}

.search-box:focus-within, .upload-file-box:focus-within {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

#input-create-folder:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
#input-create-folder {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 0.5rem;
    width:100%;
    margin:0 auto;
}


    /*.folder-name, .file-name {
    word-wrap: break-word;
}*/
    .public-file {
        position: absolute;
        border: 1px solid;
        border-radius: 0.25rem;
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        margin: 0;
        padding: 1rem 2rem;
        top: 40%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .public-file button {
    width: 100%;
    margin: .5rem 0rem;
}

.note-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
margin: 0.5rem;
}

.card-text {
    white-space: pre;
}

.note-btn {
    margin-left: auto;
    margin-right: 0;
}
    .note-btn button {
        display: inline-block;
        border: none;
        background: transparent;
        color: currentcolor;
        margin: 0.5rem 0.8rem;
    }
    .note-btn button:hover {
    color:red;
    }

        .note-btn button:focus {
            outline: none;
            transform: scale(1.2);
            color: red;
        }

        .note-btn button:active {
            outline: none;
            transform: scale(0.9);
        }

.new-note {
    color: rgba(0,0,0,.075);
    font-size: 8rem;
    text-align: center;
    cursor:pointer;
}