@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please <a asp-page="Account/Register">Register</a> or <a asp-area="Identity" asp-page="/Account/Login">Login</a></p>
</div>

<div class="text-center demo">
    <h1 class="display-4">Demo</h1>
    <img src="~/demo1.gif" />
    <img src="~/demo2.gif" />
</div>